body {
  background-image: url("https://www.ibackdrop.com/cdn/shop/products/ChildrenCartoonZooBackgroundPhotoBackdropforBabyShowerIBD-19887.jpg?v=1605693141");
}

form {
  border: solid #817c7c;
  margin: 14%;
  padding: 10px;
  background-color: #ffffffc4;
  opacity: 85%;
  margin-left: 300px;
  margin-right: 300px;
}

#user-dialog {
  margin-top: -380px;
  padding: 4%;
}
